h1
{
	text-align:center;
}
h3
{
	text-align:center ;
}
h4
{
	text-align:left ;
}
p
{
	text-align:left ;
}
footer
{
	text-align:left ;
}

body
{
	background-image: url("Background-Images.jpg");
	background-repeat: no-repeat;
	
}
img background-image
{
	opacity: 0.3;
	filter: alpha(opacity=20);
}