header
{
	text-align:center;
}
h1
{
	text-align:center;
}
h3
{
	text-align:center ;
}
h4
{
	text-align:left ;
	
}
p
{
	text-align:left ;
}
footer
{
	text-align:left ;
}

body
{
	background-image: url("Background-Images.jpg");
	background-repeat: no-repeat;
	
}
span
{
	border: 1px dashed;
}



a:hover /*Quand le visiteur passe sur le lien change de couleur*/
{
	text-decoration: underline;
	color: blueviolet;
}
a:active 
{
	background-color: #FFCC66; /*Appluqer cette couleur*/
}
a:visited /*Quand le visiteur a déjà vu la page concernée*/
{
	color: gray;
}